{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO-list-app</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/todo_icon.png' %}">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<main>
    <section class="main-section">
        <div class="main-content">
            <h1 class="main-title">TODO-list</h1>
            <h2 class="title">Welcome to TODO-list application!<br>

                TODO-list application will help you stay organized <br> and manage your tasks efficiently.</h2>
        </div>
        <div class="enter">
            <a href="{% url 'accounts:login' %}" class="login">Log in</a>
            <a href="{% url 'accounts:registration' %}" class="registration">Sign in</a>
        </div>
    </section>
</main>
</body>
</html>